* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  padding: 12px 28px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.btn-close {
  background-color: transparent;
  color: #000;
  font-size: 20px;
  transition: all 0.2 ease-in-out;
}

.btn-close:hover {
  color: darkred;
}

.btn-danger {
  background-color: #f40;
  color: #000;
}

.btn-warning {
  background-color: #ffc187;
  color: #000;
}

.btn-warning:hover {
  background: rgba(255, 193, 7, 0.75);
}

.btn-info {
  background-color: #17a2b8;
  color: white;
}

.btn-info:hover {
  background: rgba(23, 162, 184, 0.75);
}

.btn-light {
  background-color: #f8f9fa;
  color: black;
}

/* .alert-danger {
  background: rgba(255, 0, 0, 0.35);
  border: 1px solid #ff0000;
  color: maroon;
} */


.pl-2 {
  padding-left: 2rem;
}

.pl-r {
  padding-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.my-4 {
  margin-top: 3.75rem;
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: blue;
}

/* Title and Subtitle */
.title {
  font-size: 3.75rem;
  font-weight: 600;
  margin: 3rem 0;
}

.title-main {
  font-size: 5rem;
  font-weight: 600;
  margin: 4rem 0;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 4rem 0;
}

@media screen and (max-width: 1000px) {
  /* .container {
    padding-top: 3rem;
  } */

  .title {
    font-size: 2.75rem;
    font-weight: 600;
    margin: 2rem 0;
  }
  
  .title-main {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 4rem 0;
  }
  
  .subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 4rem 0;
  }

  .my-4 {
    margin-top: 2.75rem;
    margin-bottom: 3rem;
  }

}